tr.cean-header {
    border-bottom: 2px solid var(--cean-layout-color-border);
}

.jp-RenderedHTMLCommon tbody tr.cean-header:hover {
    /* disable hover color in table header */
    background: var(--cean-layout-color-background);
}

.cean-attachment .cean-info-line {
    /* match the margin of the tables */
    margin-left: 1em;
    font-weight: bold;
}

.cean-attachment th {
    text-align: left !important;
}

.cean-attachment td {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cean-field-flag {
    width: 2%;
}

.cean-field-flag div {
    font-weight: bold;
}

.cean-field-name {
    width: 20%;
    text-align: left !important;
}

.cean-field-type {
    width: 12%;
    text-align: left !important;
}

td.cean-field-type {
    color: var(--cean-font-color-field-type);
}

.cean-field-value {
    width: 39%;
    text-align: left !important;
}

.cean-field-description {
    width: 27%;
    text-align: left !important;
}

td.cean-field-description {
    color: var(--cean-font-color-field-description);
}

.cean-field-value:hover span,
.cean-field-description:hover span {
    white-space: normal;
    overflow: visible;
}

.cean-empty-field {
    color: var(--cean-font-color-empty);
}

table.cean-attachment-table {
    /* space between details marker and table */
    margin-left: 1em !important;
    /* remove space between tables */
    margin-bottom: 0;

    /* needed to ensure consistent column sizes between tables */
    table-layout: fixed;
    width: 100%;
}

/* Position the summary table directly under the regular table */
details[open].cean-attachment-details summary {
    height: 0;
    padding: 0;
}

/* hide the summary when the details are open */
details[open].cean-attachment-details summary span {
    visibility: hidden;
}

details summary {
    cursor: pointer;
}

.cean-lock {
    width: 1.4ch;
    height: auto;
}

.cean-lock svg {
  max-width: 100%;
  height: auto;
}

.cean-lock path {
    /* Override the color used in the SVG.
       This requires there to be only a single fill color. */
    fill: var(--cean-lock-fill) !important;
}
