# flake8: noqa

"""Pydantic models to encode data for communication with SciCat."""

from datetime import datetime
import enum
from typing import Dict, List, Optional

import pydantic

from .pid import PID


# This can be replaced by StrEnum in Python 3.11+
class DatasetType(str, enum.Enum):
    """Type of Dataset"""

    RAW = "raw"
    DERIVED = "derived"


$models
