name: Docs

on:
  workflow_dispatch:
    inputs:
      publish:
        default: false
        description: Publish docs
        required: false
        type: boolean
  workflow_call:
    inputs:
      publish:
        default: false
        required: false
        type: boolean

jobs:
  docs:
    name: Build documentation
    runs-on: ubuntu-22.04
    steps:
      - run: sudo apt install --yes pandoc
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/ci.txt
      - run: tox -e docs
      - run: touch html/.nojekyll
      - uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: html/
      - uses: JamesIves/github-pages-deploy-action@v4.7.2
        if: ${{ inputs.publish }}
        with:
          branch: gh-pages
          folder: html
          single-commit: true
          ssh-key: ${{ secrets.GH_PAGES_DEPLOY_KEY }}
