name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  check_release:
    name: Check if package can be released
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/ci.txt
      - run: tox -e check-release
        if: github.event_name == 'release' && github.event.action == 'published'

  build_wheels:
    name: Wheels
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # history required so setuptools_scm can determine version

      - uses: actions/setup-python@v4
      - run: python -m pip install --upgrade pip
      - run: python -m pip install -r requirements/wheels.txt

      - name: Build wheels
        run: python -m build

      - name: Upload wheels
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  upload_packages:
    name: Deploy packages
    needs: [build_wheels]
    runs-on: ubuntu-22.04
    environment: release
    permissions:
      id-token: write
    if: github.event_name == 'release' && github.event.action == 'published'

    steps:
      - uses: actions/download-artifact@v2
      - uses: pypa/gh-action-pypi-publish@v1.8.10

  docs:
    needs: upload_packages
    uses: ./.github/workflows/docs.yml
    with:
      publish: ${{ github.event_name == 'release' && github.event.action == 'published' }}
    secrets: inherit
